{% load static %}

<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <title>Solcito</title>

        <style>
            @media(min-width:768px) {
                .side-nav {
                    position: fixed;
                    top: 51px;
                    left: 225px;
                    width: 0px;
                    margin-left: -225px;
                    border: none;
                    border-radius: 0;
                    overflow-y: auto;
                    background-color: #222;
                    bottom: 0;
                    overflow-x: hidden;
                    padding-bottom: 40px;
                }

                .side-nav>li>a {
                    width: 225px;
                }

                .side-nav li a:hover,
                .side-nav li a:focus {
                    outline: none;
                    background-color: #000 !important;
                }
            }

            .side-nav>li>ul {
                padding: 0;
            }

            .side-nav>li>ul>li>a {
                display: block;
                padding: 10px 15px 10px 38px;
                text-decoration: none;
                color: #999;
            }

            .side-nav>li>ul>li>a:hover {
                color: #fff;
            }
            @media(min-width:768px) {
                #wrapper {
                    padding-left: 0px;
                }

                #page-wrapper {
                    padding: 0px;
                }
            }
        </style>

    </head>


    <body style="background-color:white;">  <div class="row">
        <div class="col s12">
            <div  class="container-fluid"  style="background:white;">
                <div class="row" style="border: black 2px solid;">

                    <div class="col s1"><p>Logo del colegio</p></div>
                    <div class="col s10" style="border-left: black 2px solid;border-right: black 2px solid;"><p align="center">Institucion Salesiana Artemides Zatti ARN</p><p align="center">Instituto Tecnico Salesiano Villada</p><p align="center">FICHA INDIVIDUAL DE INSCRIPCION</p></div>
                    <div class="col s1"  style=""><p>Logo del colegio</p></div>
                </div>
                <!--<h2><small>Datos Escolares:</small></h2>
<div class="row" style="margin-top:0%;border: black 2px solid;">
<div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Legajo:</div>
<div class="col s6" style="border-bottom: black 2px solid;">Legajo Administrativo:</div>
<div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Curso a Matricular:</div>
<div class="col s6" style="border-bottom: black 2px solid;">Colegio de Procedencia:</div>
<div class="col s12" style="">Cantidad de Materias Adeudadas:</div>
</div>-->
                <h5>Datos del Alumno:</h5>
                <div class="row" style="margin-top:0%;border: black 2px solid;">
                    <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres del Alumno: {{data.name.0}}</div>
                    <div class="col s6" style="border-bottom: black 2px solid;">Apellidos del Alumno: {{data.lastName.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI: {{data.dni.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Sexo: {{data.sex.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Religion: {{data.religion.0}}</div>

                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Fecha de Nacimiento: {{data.birthDate.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Lugar de Nacimiento: {{data.birthPlace.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Nacionalidad: {{data.nacionality.0}}</div>

                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle: {{data.street.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero: {{data.numberStreet.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Barrio: {{data.neighborhood.0}}</div>

                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre: {{data.tower.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso: {{data.floorDepartment.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Departamento: {{data.department.0}}</div>

                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal: {{data.PC.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad:</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Email: {{data.email.0}}</div>

                    <div class="col s4" style="border-right: black 2px solid;">Tel.Celular: {{data.cellphone.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo: {{data.landline.0}}</div>
                    <div class="col s4" style=""></div>
                </div>
                <h5>Datos del Padre:</h5>
                <div class="row" style="margin-top:0%;border: black 2px solid;">
                    <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres del Padre: {{data.fname.0}}</div>
                    <div class="col s6" style="border-bottom: black 2px solid;">Apellidos del Padre: {{data.flastName.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI: {{data.fdni.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">CUIL: {{data.fcuil.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Lugar de Trabajo: {{data.fworkPlace.0}}</div>
                    <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nacionalidad: {{data.fnacionality.0}}</div>
                    <div class="col s6" style="border-bottom: black 2px solid;">Profesion: {{data.fprofession.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle: {{data.fstreet.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero: {{data.fnumberStreet.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Barrio: {{data.fneighborhood.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre: {{data.ftower.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso: {{data.ffloorDepartment.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Departamento: {{data.fdepartment.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal: {{data.fPC.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad: {{data.fname.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Email: {{data.femail.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;">Tel.Celular: {{data.fcellphone.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo: {{data.flandline.0}}</div>
                    <div class="col s4" style="">Tel.Laboral: {{data.fworkPhone.0}}</div>
                </div>
                <h5>Datos del Madre:</h5>
                <div class="row" style="margin-top:0%;border: black 2px solid;">
                    <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres del Madre: {{data.mname.0}}</div>
                    <div class="col s6" style="border-bottom: black 2px solid;">Apellidos del Madre: {{data.mlastName.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI: {{data.mdni.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">CUIL: {{data.mcuil.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Lugar de Trabajo: {{data.mworkPlace.0}}</div>
                    <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nacionalidad: {{data.mnacionality.0}}</div>
                    <div class="col s6" style="border-bottom: black 2px solid;">Profesion: {{data.mprofession.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle: {{data.mstreet.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero: {{data.mnumberStreet.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Barrio: {{data.mneighborhood.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre: {{data.mtower.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso: {{data.mfloorDepartment.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Departamento: {{data.mdepartment.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal: {{data.mPC.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad: {{data.mname.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Email: {{data.memail.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;">Tel.Celular: {{data.mcellphone.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo: {{data.mlandline.0}}</div>
                    <div class="col s4" style="">Tel.Laboral: {{data.mworkPhone.0}}</div>
                </div>
                <h5>Datos del Tutor:</h5>
                <div class="row" style="margin-top:0%;border: black 2px solid;">
                    <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres del Tutor: {{data.gname.0}}</div>
                    <div class="col s6" style="border-bottom: black 2px solid;">Apellidos del Tutor: {{data.glastName.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI: {{data.gdni.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">CUIL: {{data.gcuil.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Lugar de Trabajo: {{data.gworkPlace.0}}</div>
                    <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nacionalidad: {{data.gnacionality.0}}</div>
                    <div class="col s6" style="border-bottom: black 2px solid;">Profesion: {{data.gprofession.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle: {{data.gstreet.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero: {{data.gnumberStreet.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Barrio: {{data.gneighborhood.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre: {{data.gtower.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso: {{data.gfloorDepartment.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Departamento: {{data.gdepartment.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal: {{data.gPC.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad: {{data.glocality.0}}</div>
                    <div class="col s4" style="border-bottom: black 2px solid;">Email: {{data.gemail.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;">Tel.Celular: {{data.gcellphone.0}}</div>
                    <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo: {{data.glandline.0}}</div>
                    <div class="col s4" style="">Tel.Laboral: {{data.gworkPhone.0}}</div>
                </div>
                <h6>*Este Formulario se debe Completar, Firmar y entregar en Secretaria. Tiene caracter de Declaracion Jurada</h6>
                <div class="row" style="margin-top:2%;">
                    <div class="col s12">
                        <h5>Lugar, Fecha y Hora: Cordoba ____ de ____________ de 20____, ___:___Hs.</h5>
                    </div>
                </div>
                <div class="row" style="margin-top:3%;margin-bottom:0%;">
                    <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Alumno</p></div>
                    <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Padre</p></div>
                    <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Madre</p></div>
                    <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Tutor</p></div>
                </div>
                <div class="row" style="border: black 2px solid;margin-top:3%;margin-bottom:3%;">
                    <div class="col s12"><p align="center">ITS Villada: Camino a La Calera Km. 7½, B°Valle Escondido, C.P. X5023AAA, Cordoba Argentina.</p><p align="center">Direccion Web: http://www.itsv.edu.ar Telefonos: 0054-351-4841000 / 4848200</p></div>
                </div>
                <div class="" align="right" style="margin-bottom:2%;"><button id="edit_form" class="btn btn-primary btn-lg">Volver a editar formulario</button>
                    <button id="submit_matricula" class="btn btn-primary btn-lg">Guardar e Imprimir Matricula</button></div>
            </div>
        </div>
        </div>
    </body>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script>

        $('#submit_matricula').click(function submit(){
            $('#matForms').attr('action', "{% url 'Solcito:submit_matricula' %}").submit();
        });
        $('#edit_form').click(function submit(){
            $('#dismatricula').hide();
            $('#formulario').show();
        });

    </script>
</html>
