{% load static %}

<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Solcito</title>

        <style>
            @media(min-width:768px) {
                .side-nav {
                    position: fixed;
                    top: 51px;
                    left: 225px;
                    width: 0px;
                    margin-left: -225px;
                    border: none;
                    border-radius: 0;
                    overflow-y: auto;
                    background-color: #222;
                    bottom: 0;
                    overflow-x: hidden;
                    padding-bottom: 40px;
                }

                .side-nav>li>a {
                    width: 225px;
                }

                .side-nav li a:hover,
                .side-nav li a:focus {
                    outline: none;
                    background-color: #000 !important;
                }
            }

            .side-nav>li>ul {
                padding: 0;
            }

            .side-nav>li>ul>li>a {
                display: block;
                padding: 10px 15px 10px 38px;
                text-decoration: none;
                color: #999;
            }

            .side-nav>li>ul>li>a:hover {
                color: #fff;
            }
            @media(min-width:768px) {
                #wrapper {
                    padding-left: 0px;
                }

                #page-wrapper {
                    padding: 0px;
                }
            }
        </style>
        
    </head>

    <body style="background-color:white;">
        <div class="container" style="background:white;">
            <div class="row" style="border: black 2px solid;">
              <div class="col s1" style=""><p>Logo del colegio</p></div>
              <div class="col s10" style="border-left: black 2px solid;border-right: black 2px solid;"><p align="center">Institucion Salesiana Artemides Zatti ARN</p><p align="center">Instituto Tecnico Salesiano Villada</p><p align="center">FICHA INDIVIDUAL DE INSCRIPCION</p></div>
              <div class="col s1"  style=""><p>Logo del colegio</p></div>
            </div>
            <!--<h2><small>Datos Escolares:</small></h2>
            <div class="row" style="margin-top:0%;border: black 2px solid;">
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Legajo:</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Legajo Administrativo:</div>
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Curso a Matricular:</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Colegio de Procedencia:</div>
                <div class="col s12" style="">Cantidad de Materias Adeudadas:</div>
            </div>-->
            <h2><small>Datos del Alumno:</small></h2>
            <div class="row" style="margin-top:0%;border: black 2px solid;">
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres del Alumno: {{data.name.0}}</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Apellidos del Alumno:{{data.lastName.0}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI:{{data.dni.0}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Sexo:{{data.sex.0}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Religion:{{data.alumnoReligion}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Fecha de Nacimiento:{{data.birthDate.0}}</div>
                <div class="col sS4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Lugar de Nacimiento:{{data.birthPlace.0}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Nacionalidad:{{data.alumnoNacionalidad}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle:{{data.alumnoCalle}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero:{{data.alumnoAltura}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Barrio:{{data.alumnoBarrio}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre:{{data.alumnoTorre}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso:{{data.alumnoPiso}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Departamento:{{data.alumnoDepartamento}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal:{{data.alumnoPostal}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad:{{data.alumnoLocalidad}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Email:{{data.alumnoMail}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Celular:{{data.alumnoCel}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo:{{data.alumnoFijo}}</div>
                <div class="col s4" style=""></div>
            </div>
            <h2><small>Datos del Padre:</small></h2>
            <div class="row" style="margin-top:0%;border: black 2px solid;">
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres del Padre:{{data.padreNombre}}</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Apellidos del Padre:{{data.padreApellido}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI:{{data.padreDni}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">CUIL:{{data.padreCuil}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Lugar de Trabajo:{{data.padreTrabajo}}</div>
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nacionalidad:{{data.padreNacionalidad}}</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Profesion:{{data.padreProfesion}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle:{{data.padreCalle}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero:{{data.padreAltura}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Barrio:{{data.pareBarrio}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre:{{data.padreTorre}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso:{{data.padrePiso}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Departamento:{{data.padreDepartamento}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal:{{data.padrePostal}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad:{{data.padreLocalidad}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Email:{{data.padreMail}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Celular:{{data.padreCel}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo:{{data.padreFijo}}</div>
                <div class="col s4" style="">Tel.Laboral:{{data.padreLaboral}}</div>
            </div>
            <h2><small>Datos del Madre:</small></h2>
            <div class="row" style="margin-top:0%;border: black 2px solid;">
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres de la Madre:{{data.madreNombre}}</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Apellidos de la Madre:{{data.madreApellido}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI:{{data.madreDni}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">CUIL:{{data.madreCuil}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Lugar de Trabajo:{{data.madreTrabajo}}</div>
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nacionalidad:{{data.madreNacionalidad}}</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Profesion:{{data.madreProfesion}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle:{{data.madreCalle}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero:{{data.madreAltura}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Barrio:{{data.madreBarrio}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre:{{data.madreTorre}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso:{{data.madrePiso}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Departamento:{{data.madreDepartamento}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal:{{data.madrePostal}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad:{{data.madreLocalidad}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Email:{{data.madreMail}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Celular:{{data.madreCel}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo:{{data.madreFijo}}</div>
                <div class="col s4" style="">Tel.Laboral:{{data.madreLaboral}}</div>
            </div>
            <h2><small>Datos del Tutor:</small></h2>
            <div class="row" style="margin-top:0%;margin-bottom:0%;border: black 2px solid;">
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nombres del Tutor:{{data.tutorNombre}}</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Apellidos del Tutor:{{data.tutorApellido}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">DNI:{{data.tutorDni}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">CUIL:{{data.tutorCuil}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Lugar de Trabajo:{{data.tutorTrabajo}}</div>
                <div class="col s6" style="border-right: black 2px solid;border-bottom: black 2px solid;">Nacionalidad:{{data.tutorNacionalidad}}</div>
                <div class="col s6" style="border-bottom: black 2px solid;">Profesion:{{data.tutorProfesion}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Calle:{{data.tutorCalle}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Numero:{{data.tutorAltura}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Barrio:{{data.tutorBarrio}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Torre:{{data.tutorTorre}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Piso:{{data.tutorPiso}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Departamento:{{data.tutorDepartamento}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Codigo Postal:{{data.tutorPostal}}</div>
                <div class="col s4" style="border-right: black 2px solid;border-bottom: black 2px solid;">Localidad:{{data.tutorLocalidad}}</div>
                <div class="col s4" style="border-bottom: black 2px solid;">Email:{{data.tutorMail}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Celular:{{data.tutorCel}}</div>
                <div class="col s4" style="border-right: black 2px solid;">Tel.Fijo:{{data.tutorFijo}}</div>
                <div class="col s4" style="">Tel.Laboral:{{data.tutorLaboral}}</div>
            </div>
            <h6>*Este Formulario se debe Completar, Firmar y entregar en Secretaria. Tiene caracter de Declaracion Jurada</h6>
            <div class="row" style="margin-top:2%;">
                <div class="col s12">
                    <h4>Lugar, Fecha y Hora: Cordoba ____ de ____________ de 20____, ___:___Hs.</h4>
                </div>
            </div>
            <div class="row" style="margin-top:3%;margin-bottom:0%;">
                <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Alumno</p></div>
                <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Padre</p></div>
                <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Madre</p></div>
                <div class="col s3"><p align="center">_________________________</p><p align="center">Firma Tutor</p></div>
            </div>
            <div class="row" style="border: black 2px solid;margin-top:3%;margin-bottom:3%;">
                <div class="col s12"><p align="center">ITS Villada: Camino a La Calera Km. 7½, B°Valle Escondido, C.P. X5023AAA, Cordoba Argentina.</p><p align="center">Direccion Web: http://www.itsv.edu.ar Telefonos: 0054-351-4841000 / 4848200</p></div>
            </div>
            <div class="" align="right" style="margin-bottom:2%;"> <button id="submit_matricula" class="btn btn-primary btn-lg">Guardar e Imprimir Matricula</button></div>
        </div>
            <script>
                
        $('#submit_matricula').click(function submit(){
                var data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    /*Alumno*/
                    nombre: '{{data.alumnoNombre}}',
                    apellido:'{{data.alumnoApellido}}',
                    dni:'{{data.alumnoDni}}',
                    sexo:'{{data.alumnoSexo}}',
                    religion:'{{data.alumnoReligion}}',
                    nacimiento:'{{data.alumnoNacimiento}}',
                    lugar_nacimiento:'{{data.alumnoLugarNacimiento}}',
                    nacionalidad:'{{data.alumnoNacionalidad}}',
                    calle:'{{data.alumnoCalle}}',
                    altura:'{{data.alumnoAltura}}',
                    barrio:'{{data.alumnoBarrio}}',
                    torre:'{{data.alumnoTorre}}',
                    piso:'{{data.alumnoPiso}}',
                    departamento:'{{data.alumnoDepartamento}}',
                    postal:'{{data.alumnoPostal}}',
                    localidad:'{{data.alumnoLocalidad}}',
                    mail:'{{data.alumnoMail}}',
                    celular:'{{data.alumnoCel}}',
                    fijo:'{{data.alumnoFijo}}',
                    /*Padre*/
                    nombrep:'{{data.padreNombre}}',
                    apellidop:'{{data.padreApellido}}',
                    dnip:'{{data.padreDni}}',
                    cuilp:'{{data.padreCuil}}',
                    lugartrabajop:'{{data.padreTrabajo}}',
                    nacionalidadp:'{{data.padreNacionalidad}}',
                    profesionp:'{{data.padreProfesion}}',
                    callep:'{{data.padreCalle}}',
                    alturap:'{{data.padreAltura}}',
                    barriop:'{{data.pareBarrio}}',
                    torrep:'{{data.padreTorre}}',
                    pisop:'{{data.padrePiso}}',
                    departamentop:'{{data.padreDepartamento}}',
                    postalp:'{{data.padrePostal}}',
                    localidadp:'{{data.padreLocalidad}}',
                    mailp:'{{data.padreMail}}',
                    celularp:'{{data.padreCel}}',
                    fijop:'{{data.padreFijo}}',
                    tlaboralp:'{{data.padreLaboral}}',
                    /*Madre*/
                    nombrem:'{{data.madreNombre}}',
                    apellidom:'{{data.madreApellido}}',
                    dnim:'{{data.madreDni}}',
                    cuilm:'{{data.madreCuil}}',
                    lugartrabajom:'{{data.madreTrabajo}}',
                    nacionalidadm:'{{data.madreNacionalidad}}',
                    profesionm:'{{data.madreProfesion}}',
                    callem:'{{data.madreCalle}}',
                    alturam:'{{data.madreAltura}}',
                    barriom:'{{data.madreBarrio}}',
                    torrem:'{{data.madreTorre}}',
                    pisom:'{{data.madrePiso}}',
                    departamentom:'{{data.madreDepartamento}}',
                    postalm:'{{data.madrePostal}}',
                    localidadm:'{{data.madreLocalidad}}',
                    mailm:'{{data.madreMail}}',
                    celularm:'{{data.madreCel}}',
                    fijom:'{{data.madreFijo}}',
                    tlaboralm:'{{data.madreLaboral}}',
                    /*Tutor*/
                    nombret:'{{data.tutorNombre}}',
                    apellidot:'{{data.tutorApellido}}',
                    dnit:'{{data.tutorDni}}',
                    cuilt:'{{data.tutorCuil}}',
                    lugartrabajot:'{{data.tutorTrabajo}}',
                    nacionalidadt:'{{data.tutorNacionalidad}}',
                    profesiont:'{{data.tutorProfesion}}',
                    callet:'{{data.tutorCalle}}',
                    alturat:'{{data.tutorAltura}}',
                    barriot:'{{data.tutorBarrio}}',
                    torret:'{{data.tutorTorre}}',
                    pisot:'{{data.tutorPiso}}',
                    departamentot:'{{data.tutorDepartamento}}',
                    postalt:'{{data.tutorPostal}}',
                    localidadt:'{{data.tutorLocalidad}}',
                    mailt:'{{data.tutorMail}}',
                    celulart:'{{data.tutorCel}}',
                    fijot:'{{data.tutorFijo}}',
                    tlaboralt:'{{data.tutorLaboral}}',

                }
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "{% url 'Solcito:submit_matricula' %}",
                    data:data,
                    success: function(result){

                        window.location = '/genpdf/'+result;
                    },
                    error: function(){
                        alert("Error");
                    }
                });
            });
            
        </script>
    </body>



</html>
