{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify material_form material_admin %}







{% block content %}
<form action="{% url 'Solcito:excel' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="FILE" name="docfile">
        <select name="materia">
            {% for matricula in matriculas %}
                <option value="{{ matricula.pk }}">{{ matricula.subject.name }}</option>
            {% endfor %}
        </select>
        <select name="trimestre">

            {% for trimestre in trimestres %}
                <option value="{{ trimestre.0 }}">{{ trimestre.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

</div>
    <div class="contac" id="lista">
        <div>
            <ul class="list">
            {% for i in rows %}
                <li>{{ i.2 }}</li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <ul class="list">
            {% for i in rows %}
                <li>{{ i.7 }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

</body>
{% endblock %}
