
{% load staticfiles %}
{% load static %}

<div id="pipa-wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-sun-o" aria-hidden="true"></i> Solcito - Gestion de Administracion</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="{% url 'Solcito:logout' %}" ><i class="fa fa-user"></i> Salir</a>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Alumnos</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!--Aca va lo nuestro-->
    <div id="page-wrapper">
        <div class="form_perfil">
            <form class="col s12" method="POST"  action="{% url 'Solcito:edit_matricula' %} "enctype="multipart/form-data">{% csrf_token %}
                <div id="form_name">
                    <center><h5 class="header center grey-text text-darken-2" style="margin-top:20px;">Edit {{ Student.name }} {{ Student.lastName }} registration:</h5>
                        {{ form.as_p }}
                        <a href="#" class="grey-text waves-effect waves-orange btn-flat">Cancelar</a>
                        <button type="submit" class="white-text waves-effect orange waves btn">GUARDAR CAMBIOS</button>
                    </center>
                </div>
            </form>
        </div> 
    </div>
</div>




<script>

    $('#edit_matricula').click(function submit(){
        if(verificacionAlumno()){
            var data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                numleg : $('#inp-legajo-escolar').val(),
                legadm : $('#inp-legajo-administrativo').val(),
                anotomat : $('#inp-ano-a-matricular').val(),
                divtomat : $('#inp-division-a-matricular').val(),
                prschool : $('#inp-colegio-de-procedencia').val(),
                qduemat : $('#inp-cantidad-de-materias-adeudadas').val(),
                nombre : $('#inp-nombre-alumno').val(),
                apellido : $('#inp-apellido-alumno').val(),
                dni : $('#inp-dni-alumno').val(),
                religion : $('#inp-religion-alumno').val(),
                sexo : $('#inp-genero-alumno').val(),
                nacimiento : $('#inp-nacimiento-alumno').val(),
                lugar_nacimiento : $('#inp-lugar_nacimiento-alumno').val(),
                nacionalidad : $('#inp-nacionalidad-alumno').val(),
                calle : $('#inp-calle-alumno').val(),
                altura : $('#inp-altura-alumno').val(),
                barrio: $('#inp-barrio-alumno').val(),
                torre : $('#inp-torre-alumno').val(),
                piso : $('#inp-piso-alumno').val(),
                departamento : $('#inp-departamento-alumno').val(),
                postal : $('#inp-postal-alumno').val(),
                localidad : $('#inp-localidad-alumno').val(),
                mail : $('#inp-mail-alumno').val(),
                fijo : $('#inp-fijo-alumno').val(),
                celular : $('#inp-celular-alumno').val(),
                nombrem : $('#inp-nombre-madre').val(),
                apellidom: $('#inp-apellido-madre').val(),
                dnim: $('#inp-dni-madre').val(),
                cuilm: $('#inp-cuil-madre').val(),
                lugartrabajom: $('#inp-trabajo-madre').val(),
                profesionm: $('#inp-profesion-madre').val(),
                nacionalidadm: $('#inp-nacionalidad-madre').val(),
                callem: $('#inp-calle-madre').val(),
                alturam: $('#inp-numcalle-madre').val(),
                barriom: $('#inp-barrio-madre').val(),
                torrem: $('#inp-torre-madre').val(),
                pisom: $('#inp-piso-madre').val(),
                departamentom: $('#inp-dpto-madre').val(),
                postalm: $('#inp-postal-madre').val(),
                localidadm: $('#inp-localidad-madre').val(),
                mailm: $('#inp-email-madre').val(),
                fijom: $('#inp-fijo-madre').val(),
                celularm: $('#inp-celular-madre').val(),
                tlaboralm: $('#inp-tlaboral-madre').val(),
                nombrep : $('#inp-nombre-padre').val(),
                apellidop: $('#inp-apellido-padre').val(),
                dnip: $('#inp-dni-padre').val(),
                cuilp: $('#inp-cuil-padre').val(),
                lugartrabajop: $('#inp-trabajo-padre').val(),
                profesionp: $('#inp-profesion-padre').val(),
                nacionalidadp: $('#inp-nacionalidad-padre').val(),
                callep: $('#inp-calle-padre').val(),
                alturap: $('#inp-numcalle-padre').val(),
                barriop: $('#inp-barrio-padre').val(),
                torrep: $('#inp-torre-padre').val(),
                pisop: $('#inp-piso-padre').val(),
                departamentop: $('#inp-dpto-padre').val(),
                postalp: $('#inp-postal-padre').val(),
                localidadp: $('#inp-localidad-padre').val(),
                mailp: $('#inp-email-padre').val(),
                fijop: $('#inp-fijo-padre').val(),
                celularp: $('#inp-celular-padre').val(),
                tlaboralp: $('#inp-tlaboral-padre').val(),
                nombret : $('#inp-nombre-tutor').val(),
                apellidot: $('#inp-apellido-tutor').val(),
                dnit: $('#inp-dni-tutor').val(),
                cuilt: $('#inp-cuil-tutor').val(),
                lugartrabajot: $('#inp-trabajo-tutor').val(),
                profesiont: $('#inp-profesion-tutor').val(),
                nacionalidadt: $('#inp-nacionalidad-tutor').val(),
                callet: $('#inp-calle-tutor').val(),
                alturat: $('#inp-numcalle-tutor').val(),
                barriot: $('#inp-barrio-tutor').val(),
                torret: $('#inp-torre-tutor').val(),
                pisot: $('#inp-piso-tutor').val(),
                departamentot: $('#inp-dpto-tutor').val(),
                postalt: $('#inp-postal-tutor').val(),
                localidadt: $('#inp-localidad-tutor').val(),
                mailt: $('#inp-email-tutor').val(),
                fijot: $('#inp-fijo-tutor').val(),
                celulart: $('#inp-celular-tutor').val(),
                tlaboralt: $('#inp-tlaboral-tutor').val(),
                idmat: '{{matricula.idRegistration}}'
            }
            console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'Solcito:edit_matricula' %}",
                data:data,
                success: function(result){
                    window.location = '/solcito';
                },
                error: function(){
                    alert("Error");
                }
            });
        }

    });
    function verificacionAlumno(){
        if ($('#inp-legajo-escolar').val()==""
            || $('#inp-legajo-administrativo').val()==""
            || $('#inp-ano-a-matricular').val()==""
            || $('#inp-division-a-matricular').val()==""
            || $('#inp-colegio-de-procedencia').val()==""
            || $('#inp-cantidad-de-materias-adeudadas').val()==""
            || $('#inp-nombre-alumno').val()==""
            || $('#inp-apellido-alumno').val()==""
            || $('#inp-dni-alumno').val()==""
            || $('#inp-religion-alumno').val()==""
            || $('#inp-nacionalidad-alumno').val()==""
            || $('#inp-fijo-alumno').val()==""
            || $('#inp-mail-alumno').val()==""
            || $('#inp-nacimiento-alumno').val()==""
            || $('#inp-lugar_nacimiento-alumno').val()==""
            || $('#inp-localidad-alumno').val()==""
            || $('#inp-barrio-alumno').val()==""
            || $('#inp-calle-alumno').val()==""
            || $('#inp-altura-alumno').val()==""
            || $('#inp-postal-alumno').val()==""){
            alert("Error: Porfavor complete los campos obligatorios");
            return false;
        }
        if( !isEmail($('#inp-mail-alumno').val())) {
            alert("Email Alumno Invalido");
            return false;
        }
        return true;
    }
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

</script>

