{% load static %}
{% load staticfiles %}

<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Solcito</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <style>
            @media(min-width:768px) {
                .side-nav {
                    position: fixed;
                    top: 51px;
                    left: 225px;
                    width: 0px;
                    margin-left: -225px;
                    border: none;
                    border-radius: 0;
                    overflow-y: auto;
                    background-color: #222;
                    bottom: 0;
                    overflow-x: hidden;
                    padding-bottom: 40px;
                }

                .side-nav>li>a {
                    width: 225px;
                }

                .side-nav li a:hover,
                .side-nav li a:focus {
                    outline: none;
                    background-color: #000 !important;
                }
            }

            .side-nav>li>ul {
                padding: 0;
            }

            .side-nav>li>ul>li>a {
                display: block;
                padding: 10px 15px 10px 38px;
                text-decoration: none;
                color: #999;
            }

            .side-nav>li>ul>li>a:hover {
                color: #fff;
            }
            @media(min-width:768px) {
                #wrapper {
                    padding-left: 0px;
                }

                #page-wrapper {
                    padding: 0px;
                }
            }


        </style>
    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" ><i class="fa fa-sun-o" aria-hidden="true"></i> Solcito - Gestion de Administracion</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="{% url 'Solcito:login' %}" ><i class="fa fa-user"></i> Iniciar Sesion</a>
                    </li>
                </ul>
                <!-- /.navbar-collapse -->
            </nav>

            <!--Aca va lo nuestro-->
            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Matriculacion
                            </h1>
                            <h4> <p class="text-center">Todos los datos con  * son obligatorios. Es necesario completar al menos un formulario ya sea el de padre madre o tutor. No olvidarse de una vez completado todo guardarlo e imprimirlo para presentarlo en la secretaria del colegio. Leer bien los datos ingresador para no enviar datos erroneos de matriculacion.</p></h4>
                            <hr>
                        </div>

                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <form action="{% url 'Solcito:confirm_matricula' %}" method="POST" >
                        {% csrf_token %}
                        <div class="col-lg-6">
                            <h2 align="center">Datos del Alumno</h2>
                            <br>


                                {{ student_form }}

                        </div>
                        <div class="col-lg-6">
                            <h2 align="center">Datos de los Padres</h2>
                            <br>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Formulario Padre</a>
                                        </h4>
                                    </div>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                            {{father_form}}
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                Formulario Madre</a>
                                        </h4>
                                    </div>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                            {{mother_form}}
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Formulario Tutor</a>
                                        </h4>
                                    </div>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                            {{guardian_form}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" align="right">
                            <div class="panel-heading">
                                <input id="confirm_matricula" type="submit" class="btn btn-primary btn-lg">
                            </div>
                        </div>
                </form>
                </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
        <div class="modal fade" id="cartel_error" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="textoError"> </h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" id="btn-volver" onclick="$('#cartel_error').modal('hide');" type="button">
                            Volver
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="{% static 'js/jquery.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
        <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
        <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>

        <script>


            /*previsualisacion de foto*/
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#alum').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('#photo').change(function(){
                readURL(this);
            });

            /*$('#confirm_matricula').click(function confirm(){
                if(verificacionAlumno()&&verificacionTutores()){
                    var data = {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        nombre : $('#inp-nombre-alumno').val(),
                        apellido : $('#inp-apellido-alumno').val(),
                        dni : $('#inp-dni-alumno').val(),
                        religion : $('#inp-religion-alumno').val(),
                        sexo : $('#inp-genero-alumno').val(),
                        nacimiento : $('#inp-nacimiento-alumno').val(),
                        lugar_nacimiento : $('#inp-lugar_nacimiento-alumno').val(),
                        nacionalidad : $('#inp-nacionalidad-alumno').val(),
                        calle : $('#inp-calle-alumno').val(),
                        altura : $('#inp-altura-alumno').val(),
                        barrio: $('#inp-barrio-alumno').val(),
                        torre : $('#inp-torre-alumno').val(),
                        piso : $('#inp-piso-alumno').val(),
                        departamento : $('#inp-departamento-alumno').val(),
                        postal : $('#inp-postal-alumno').val(),
                        localidad : $('#inp-localidad-alumno').val(),
                        mail : $('#inp-mail-alumno').val(),
                        fijo : $('#inp-fijo-alumno').val(),
                        celular : $('#inp-celular-alumno').val(),
                        nombrem : $('#inp-nombre-madre').val(),
                        apellidom: $('#inp-apellido-madre').val(),
                        dnim: $('#inp-dni-madre').val(),
                        cuilm: $('#inp-cuil-madre').val(),
                        lugartrabajom: $('#inp-trabajo-madre').val(),
                        profesionm: $('#inp-profesion-madre').val(),
                        nacionalidadm: $('#inp-nacionalidad-madre').val(),
                        callem: $('#inp-calle-madre').val(),
                        alturam: $('#inp-numcalle-madre').val(),
                        barriom: $('#inp-barrio-madre').val(),
                        torrem: $('#inp-torre-madre').val(),
                        pisom: $('#inp-piso-madre').val(),
                        departamentom: $('#inp-dpto-madre').val(),
                        postalm: $('#inp-postal-madre').val(),
                        localidadm: $('#inp-localidad-madre').val(),
                        mailm: $('#inp-email-madre').val(),
                        fijom: $('#inp-fijo-madre').val(),
                        celularm: $('#inp-celular-madre').val(),
                        tlaboralm: $('#inp-tlaboral-madre').val(),
                        nombrep : $('#inp-nombre-padre').val(),
                        apellidop: $('#inp-apellido-padre').val(),
                        dnip: $('#inp-dni-padre').val(),
                        cuilp: $('#inp-cuil-padre').val(),
                        lugartrabajop: $('#inp-trabajo-padre').val(),
                        profesionp: $('#inp-profesion-padre').val(),
                        nacionalidadp: $('#inp-nacionalidad-padre').val(),
                        callep: $('#inp-calle-padre').val(),
                        alturap: $('#inp-numcalle-padre').val(),
                        barriop: $('#inp-barrio-padre').val(),
                        torrep: $('#inp-torre-padre').val(),
                        pisop: $('#inp-piso-padre').val(),
                        departamentop: $('#inp-dpto-padre').val(),
                        postalp: $('#inp-postal-padre').val(),
                        localidadp: $('#inp-localidad-padre').val(),
                        mailp: $('#inp-email-padre').val(),
                        fijop: $('#inp-fijo-padre').val(),
                        celularp: $('#inp-celular-padre').val(),
                        tlaboralp: $('#inp-tlaboral-padre').val(),
                        nombret : $('#inp-nombre-tutor').val(),
                        apellidot: $('#inp-apellido-tutor').val(),
                        dnit: $('#inp-dni-tutor').val(),
                        cuilt: $('#inp-cuil-tutor').val(),
                        lugartrabajot: $('#inp-trabajo-tutor').val(),
                        profesiont: $('#inp-profesion-tutor').val(),
                        nacionalidadt: $('#inp-nacionalidad-tutor').val(),
                        callet: $('#inp-calle-tutor').val(),
                        alturat: $('#inp-numcalle-tutor').val(),
                        barriot: $('#inp-barrio-tutor').val(),
                        torret: $('#inp-torre-tutor').val(),
                        pisot: $('#inp-piso-tutor').val(),
                        departamentot: $('#inp-dpto-tutor').val(),
                        postalt: $('#inp-postal-tutor').val(),
                        localidadt: $('#inp-localidad-tutor').val(),
                        mailt: $('#inp-email-tutor').val(),
                        fijot: $('#inp-fijo-tutor').val(),
                        celulart: $('#inp-celular-tutor').val(),
                        tlaboralt: $('#inp-tlaboral-tutor').val()
                    }
                    $.ajax({
                        type: "POST",
                        url: ,
                        data:data,
                        success: function(result){
                        if($('input:file[name=photo]').val()!=""){
                            $('#form-nombre-alumno').val($('#inp-nombre-alumno').val());
                            $('#form-apellido-alumno').val($('#inp-apellido-alumno').val());
                            $('#form-dni-alumno').val($('#inp-dni-alumno').val());
                            $("#cargar").submit();
                        }
                            $('#page-wrapper').html(result);
                        },
                        error: function(){
                            alert("Error");

                        }
                    })
                }
            });*/


            function verificacionAlumno(){
                if ($('#inp-nombre-alumno').val()==""
                    || $('#inp-apellido-alumno').val()==""
                    || $('#inp-dni-alumno').val()==""
                    || $('#inp-religion-alumno').val()==""
                    || $('#inp-nacionalidad-alumno').val()==""
                    || $('#inp-fijo-alumno').val()==""
                    || $('#inp-mail-alumno').val()==""
                    || $('#inp-nacimiento-alumno').val()==""
                    || $('#inp-lugar_nacimiento-alumno').val()==""
                    || $('#inp-localidad-alumno').val()==""
                    || $('#inp-barrio-alumno').val()==""
                    || $('#inp-calle-alumno').val()==""
                    || $('#inp-altura-alumno').val()==""
                    || $('#inp-postal-alumno').val()==""){
                    $('#textoError').text("Los campos señalados por * son obligatorios");
                    $('#cartel_error').modal('show');
                    return false;
                }
                if( !isEmail($('#inp-mail-alumno').val())) {
                    $('#textoError').text("Email Alumno Invalido");
                    $('#cartel_error').modal('show');
                    return false;
                }
                return true;
            }


            function isEmail(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }


            function verificacionTutores(){
                var cantTutores = 0;
                if($('#inp-nombre-madre').val()!=""){

                    if(
                        $('#inp-apellido-madre').val()==""
                        || $('#inp-dni-madre').val()==""
                        || $('#inp-cuil-madre').val()==""
                        || $('#inp-profesion-madre').val()==""
                        || $('#inp-trabajo-madre').val()==""
                        || $('#inp-nacionalidad-madre').val()==""
                        || $('#inp-fijo-madre').val()==""
                        || $('#inp-email-madre').val()==""
                        || $('#inp-localidad-madre').val()==""
                        || $('#inp-barrio-madre').val()==""
                        || $('#inp-calle-madre').val()==""
                        || $('#inp-altura-madre').val()==""
                        || $('#inp-postal-madre').val()==""
                    ){
                        $('#textoError').text('Debe completar los campos obligatorios de Madre');
                        $('#cartel_error').modal('show');
                        return false;
                    }
                    if( !isEmail($('#inp-email-madre').val())) {
                        $('#textoError').text("Email Madre Invalido");
                        $('#cartel_error').modal('show');
                        return false;
                    }
                    else{
                        cantTutores+=1
                    }

                }

                if($('#inp-nombre-padre').val()!=""){

                    if($('#inp-apellido-padre').val()==""
                       || $('#inp-dni-padre').val()==""
                       || $('#inp-cuil-padre').val()==""
                       || $('#inp-profesion-padre').val()==""
                       || $('#inp-trabajo-padre').val()==""
                       || $('#inp-nacionalidad-padre').val()==""
                       || $('#inp-fijo-padre').val()==""
                       || $('#inp-email-padre').val()==""
                       || $('#inp-localidad-padre').val()==""
                       || $('#inp-barrio-padre').val()==""
                       || $('#inp-calle-padre').val()==""
                       || $('#inp-altura-padre').val()==""
                       || $('#inp-postal-padre').val()=="")
                    {
                        $('#textoError').text('Debe completar los campos obligatorios de Padre');
                        $('#cartel_error').modal('show');
                        return false;

                    }
                    if( !isEmail($('#inp-email-padre').val())) {
                        $('#textoError').text("Email Padre Invalido");
                        $('#cartel_error').modal('show');
                        return false;
                    }
                    else{
                        cantTutores+=1
                    }
                }


                if($('#inp-nombre-tutor').val()!=""){
                    if($('#inp-apellido-tutor').val()==""
                       || $('#inp-dni-tutor').val()==""
                       || $('#inp-cuil-tutor').val()==""
                       || $('#inp-profesion-tutor').val()==""
                       || $('#inp-trabajo-tutor').val()==""
                       || $('#inp-nacionalidad-tutor').val()==""
                       || $('#inp-fijo-tutor').val()==""
                       || $('#inp-email-tutor').val()==""
                       || $('#inp-localidad-tutor').val()==""
                       || $('#inp-barrio-tutor').val()==""
                       || $('#inp-calle-tutor').val()==""
                       || $('#inp-altura-tutor').val()==""
                       || $('#inp-postal-tutor').val()=="")
                    {
                        $('#textoError').text('Debe completar los campos obligatorios de Tutor');
                        $('#cartel_error').modal('show');
                        return false;
                    }
                    if( !isEmail($('#inp-email-tutor').val())) {
                        $('#textoError').text("Email Tutor Invalido");
                        $('#cartel_error').modal('show');
                        return false;
                    }
                    else{
                        cantTutores+=1

                    }
                }

                if(cantTutores==0){
                    $('#textoError').text('El alumno debe tener por lo menos 1 tutor legal');
                    $('#cartel_error').modal('show');
                    return false;
                }
                else{
                    return true;
                }
            
            if(cantTutores==0){
                $('#textoError').text('El alumno debe tener por lo menos 1 tutor legal');
                $('#cartel_error').modal('show');
                return false;
            }
            else{
                return true;
            }
        }
    



    </script>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    </body>

</html>


