{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify material_form material_admin %}







{% block content %}
    <div style="margin-left: 10px;margin-right: 10px;  ">
        <p >Ordenar usando : </p>
        <select name="orden" id="orden" class="col s12 m12 l9">
            {% for orden in ordenes %}
                <option value="{{ orden.pk }}">{{ orden.name }}</option>
            {% endfor %}
        </select>
        <p >El Curso : </p>
        <div class="col s12 m12 l9">
            <select name="orden" id="cursos" multiple>
                {% for curso in cursos %}
                    <option value="{{ curso.pk }}">{{ curso }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" id="order">Calcular</button>


        <div id="results_list">
        </div>

    </div>

    <script>
        $('#order').click(function(){
            data = {};
            data.orden = $('#orden').val();
            data.cursos = $('#cursos').val();
            console.log(data);
            $.ajax(
                {
                    url: "{% url 'Solcito:ordenar' %}",
                    data : {
                                orden:$('#orden').val(),
                                cursos:$('#cursos').val(),
                            },
                    success: function(result){
                        $("#results_list").html(result);
                    }
                }
            );
        });
    </script>
{% endblock %}