{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify material_form material_admin %}







{% block content %}
    <div style="margin-left: 10px;margin-right: 10px;  ">
        <p >Ordenar usando : </p>
        <select name="orden" id="orden" class="col s12 m12 l9">
            {% for orden in ordenes %}
                <option value="{{ orden.pk }}">{{ orden.name }}</option>
            {% endfor %}
        </select>
        <p >El Curso : </p>
        <div class="col s12 m12 l9">
            <select name="orden" id="cursos" multiple>
                {% for curso in cursos %}
                    <option value="{{ curso.pk }}">{{ curso }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" id="order">Show Me what you Got</button>

    <table style="width:100%;background-color: white;" class="card">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Puntaje</th>
      </tr>
        <div id="results_list"></div>

    </table>
    </div>

    <scrip>
        $('#order').click(function(){
            $.ajax(
                {
                    url: "{% url 'Solcito:ordenar' %}",
                    data : {
                                orden:$('#orden').val(),
                                cursos:$('#cursos').val(),
                            },
                    success: function(result){
                        $("#results_list").html(result);
                    }
                }
            );
        });
    </scrip>
{% endblock %}