{% load static %}
{% load staticfiles %}
{% load material_form %}

<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solcito</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @media(min-width:768px) {
            .side-nav {
                position: fixed;
                top: 51px;
                left: 225px;
                width: 0px;
                margin-left: -225px;
                border: none;
                border-radius: 0;
                overflow-y: auto;
                background-color: #222;
                bottom: 0;
                overflow-x: hidden;
                padding-bottom: 40px;
            }

            .side-nav>li>ul {
                padding: 0;
            }

            .side-nav>li>ul>li>a {
                display: block;
                padding: 10px 15px 10px 38px;
                text-decoration: none;
                color: #999;
            }

            .side-nav>li>ul>li>a:hover {
                color: #fff;
            }
            @media(min-width:768px) {
                #wrapper {
                    padding-left: 0px;
                }

                #page-wrapper {
                    padding: 0px;
                }
            }
        </style>
    </head>

    <body>
        <nav class="light-blue">
            <div class="nav-wrapper" style="margin-left:10px;">
                <a class="brand-logo" href="#"><i class="fa fa-sun-o">  Solcito - Gestion de Administracion</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'Solcito:login' %}" ><i class="fa fa-user">  Iniciar Sesión</i></a></li>
                    <li><a href="{% url 'Solcito:perfil' %}" ><i class="fa fa-user">Perfil</i></a></li>
                </ul>
            </div>
        </nav>

        <div class="row" style="margin-top:1%;">
            <div class="col s10 offset-s1" style="background:#f5f5f5;border-radius:15px;">
                <div class="row">
                    <div class="col s3 center" style="margin-top:1%;">
                        <div class="col s12" id="photo">
                            <img class="circle responsive-img" src="/static/img/cat.jpg" style="margin-top:2%;height:230px;width:240px;">
                            <div class="block"> 
                                <h5 class="center indigo-text">Gaston Fortuna</h5>
                                <p class="light center">7° año C</p>
                            </div>
                        </div>
                        <hr>
                        <div class="col s12" id="general-inf">
                            <div class="block">
                                <h5 class="center-align"><i class="material-icons">perm_identity</i> Informacion</h5>
                                <div class="left-align">
                                    <h6><strong>Nombre:</strong> {{matricula.nameStudent}}</h6>
                                    <h6><strong>Apellido:</strong> {{matricula.lastNameStudent}}</h6>
                                    <h6><strong>DNI:</strong> {{matricula.dniStudent}}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="block">
                                <h5 class="center-align"><i class="material-icons">contact_phone</i> Contact</h5>
                                <div class="left-align">
                                    <h6><strong>Cel.:</strong> {{matricula.nameStudent}}</h6>
                                    <h6><strong>Tel.:</strong> {{matricula.lastNameStudent}}</h6>
                                    <h6><strong>eMail:</strong> {{matricula.dniStudent}}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="block">
                                <h5 class="center-align"><i class="material-icons">assignment</i> School inf.</h5>
                                <div class="left-align">
                                    <h6><strong>Preceptor:</strong> {{matricula.nameStudent}}</h6>
                                    <h6><strong>n°Matricula:</strong> {{matricula.lastNameStudent}}</h6>
                                    <h6><strong>n°Administrativo:</strong> {{matricula.dniStudent}}</h6>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col s9 white" style="margin-top:1%;border-radius:15px;">
                      <div class="row">
                        <div class="col s12">
                          <ul class="tabs">
                            <li class="tab col s4"><a class="active" href="#infTutores">Informacion de Tutores</a></li>
                            <li class="tab col s4 disabled"><a href="#matriculas">Matriculas</a></li>
                            <li class="tab col s4 disabled"><a href="#notas">Notas</a></li>
                        </ul>
                    </div>
                    <div id="infTutores" class="col s12">
                        <div id="home" class="tab-pane fade in active">
                            <h5 style="color:grey;">Informacion Padre</h5>
                            <div class="inf-padre" style="margin-left:2%;">
                                <h6><strong>Nombre:</strong> {{matricula.nameFather}}</h6>
                                <h6><strong>Apellido:</strong> {{matricula.lastNameFather}}</h6>
                                <h6><strong>DNI:</strong> {{matricula.dniFather}}</h6>
                                <h6><strong>eMail:</strong> {{matricula.emailFather}}</h6>
                                <h6><strong>Tel.:</strong> {{matricula.landlineFather}}</h6>
                                <h6><strong>Cel.:</strong> {{matricula.cellphoneFather}}</h6>
                                <h6><strong>Tel.Laboral:</strong> {{matricula.workPhoneFather}}</h6>
                            </div>
                            <h5 style="color:grey;">Informacion Padre</h5>
                            <div class="inf-padre" style="margin-left:2%;">
                                <h6><strong>Nombre:</strong> {{matricula.nameFather}}</h6>
                                <h6><strong>Apellido:</strong> {{matricula.lastNameFather}}</h6>
                                <h6><strong>DNI:</strong> {{matricula.dniFather}}</h6>
                                <h6><strong>eMail:</strong> {{matricula.emailFather}}</h6>
                                <h6><strong>Tel.:</strong> {{matricula.landlineFather}}</h6>
                                <h6><strong>Cel.:</strong> {{matricula.cellphoneFather}}</h6>
                                <h6><strong>Tel.Laboral:</strong> {{matricula.workPhoneFather}}</h6>
                            </div>
                            <h5 style="color:grey;">Informacion Padre</h5>
                            <div class="inf-padre" style="margin-left:2%;">
                                <h6><strong>Nombre:</strong> {{matricula.nameFather}}</h6>
                                <h6><strong>Apellido:</strong> {{matricula.lastNameFather}}</h6>
                                <h6><strong>DNI:</strong> {{matricula.dniFather}}</h6>
                                <h6><strong>eMail:</strong> {{matricula.emailFather}}</h6>
                                <h6><strong>Tel.:</strong> {{matricula.landlineFather}}</h6>
                                <h6><strong>Cel.:</strong> {{matricula.cellphoneFather}}</h6>
                                <h6><strong>Tel.Laboral:</strong> {{matricula.workPhoneFather}}</h6>
                            </div>
                        </div>
                    </div>
                    <div id="matriculas" class="col s12">Test 2</div>
                    <div id="notas" class="col s12">Test 3</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
</html>